.container-fluid {
  background: var(--green-gradient-top-left-bottom-right);

  // For older browsers
  background: var(--green-webkit-gradient-top-left-bottom-right);
}

img {
  display: block;
  border-radius: 1rem 0 0 1rem;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

.registration-text,
.text-muted {
  color: var(--black-eerie-black);
  transition: all 1s;
  margin-top: 10px;

  &:hover {
    color: var(--blue-navy-blue);
  }
}

.password-reset {
  margin-top: 10px;
}

i {
  color: #fff;
}

.btn-text {
  color: #fff;
  font-size: medium;
}

#auth-login {
  & button {
    margin-top: 10px;
  }
}

button {
  &:hover {
    color: #fff;
  }
}

button.facebook {
  background: var(--blue-azure);
}
button.facebook:hover {
  background: linear-gradient(var(--blue-midnight-blue), var(--blue-azure));
}
button.twitter {
  background: #1da1f2;
}
button.twitter:hover {
  background: #0d95e8;
}
button.google {
  background: #ea4335;
}
button.google:hover {
  background: #e82e1e;
}

input {
  font-size: medium;
}

// for error messages
p-message {
  margin-top: 15px;
}
