<div
  class="container-fluid py-5 h-100"
  data-aos="fade-in"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
>
  <div class="row justify-content-center h-100">
    <div class="col col-xl-10">
      <div class="card" style="border-radius: 1rem">
        <div class="row g-0">
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <app-image-carousel
              alt="home-decor"
              data-aos="fade-right"
              data-aos-delay="500"
              data-aos-duration="800"
              data-aos-easing="ease-in-out"
            ></app-image-carousel>
          </div>

          <div class="col-md-6 col-lg-7">
            <div class="card-body p-4 p-lg-5 text-black">
              <app-login-form-text></app-login-form-text>

              <div *ngIf="wantsAuth; else choices">
                <app-form> </app-form>

                <button
                  pButton
                  pRipple
                  label="Retour"
                  class="p-button-outlined p-button-rounded p-button-secondary p-button-raised"
                  icon="pi pi-arrow-left"
                  (click)="wantsAuth = false"
                  data-aos="zoom-out"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #choices>
  <div class="pt-1 mb-4 choices">
    <button
      pButton
      pRipple
      data-aos="fade-down"
      data-aos-delay="300"
      data-aos-easing="ease-in-out"
      routerLink="/home"
      type="button"
      label="Explorer notre catalogue"
      icon="pi pi-book"
      class="p-button-raised p-button-rounded p-button-success p-button-outlined option"
      [class]="isSmall ? 'w-100' : 'w-75'"
      [style]="{ color: '#007200ff' }"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      label="S'authentifier"
      icon="pi pi-user"
      (click)="wantsAuth = true"
      class="p-button-raised p-button-rounded p-button-secondary p-button-outlined option"
      [class]="isSmall ? 'w-100' : 'w-75'"
      data-aos="fade-up"
      data-aos-delay="300"
      data-aos-easing="ease-in-out"
    ></button>
  </div>
</ng-template>
