<mat-toolbar
  data-aos="fade-down"
  data-aos-duration="1200"
  data-aos-easing="ease-in-out"
>
  <button
    pButton
    pRipple
    type="button"
    class="toggler-left p-button p-button-raised p-button-text p-button-success p-button-rounded"
    icon="pi pi-bars"
    (click)="toggleDrawer()"
  ></button>

  <span class="brand" *ngIf="location === 'home'">MiCasa</span>

  <span *ngIf="location === 'dashboard'" class="brand">MiCasa Admin</span>

  <span *ngIf="location === 'agence'" class="brand">MiCasa Agence</span>

  <button
    pButton
    pRipple
    type="button"
    class="toggler-right p-button p-button-raised p-button-text p-button-success p-button-rounded"
    icon="pi pi-bars"
    (click)="toggleDrawer()"
  ></button>
</mat-toolbar>
