:root {
  /* CSS HEX */
  --orange-vermilion: #e03615ff;
  --orange-flame: #e24c16ff;
  --orange-spanish-orange: #e46217ff;
  --orange-princeton-orange: #e67818ff;
  --orange-carrot-orange: #e88d18ff;
  --orange-orange-yellow: #ecb81aff;
  --orange-yellow-munsell: #eece1bff;
  --orange-safety-yellow: #efd91bff;
  --orange-titanium-yellow: #f0de1bff;
  --orange-titanium-yellow-2: #f0e31bff;

  /* SCSS Gradient */
  --orange-gradient-top: linear-gradient(
    0deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-right: linear-gradient(
    90deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-bottom: linear-gradient(
    180deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-left: linear-gradient(
    270deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-top-right: linear-gradient(
    45deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-bottom-right: linear-gradient(
    135deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-top-left: linear-gradient(
    225deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-bottom-left: linear-gradient(
    315deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-gradient-radial: radial-gradient(
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );

  /*Webkit gradient*/
  --orange-webkit-gradient-top: -webkit-linear-gradient(
    0deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-right: -webkit-linear-gradient(
    90deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-bottom: -webkit-linear-gradient(
    180deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-left: -webkit-linear-gradient(
    270deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-top-right: -webkit-linear-gradient(
    45deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-bottom-right: -webkit-linear-gradient(
    135deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-top-left: -webkit-linear-gradient(
    225deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-bottom-left: -webkit-linear-gradient(
    315deg,
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
  --orange-webkit-gradient-radial: -webkit-radial-gradient(
    #e03615ff,
    #e24c16ff,
    #e46217ff,
    #e67818ff,
    #e88d18ff,
    #ecb81aff,
    #eece1bff,
    #efd91bff,
    #f0de1bff,
    #f0e31bff
  );
}
