:root {
  /* CSS HEX */
  --pink-claret: #590d22ff;
  --pink-claret-2: #800f2fff;
  --pink-big-dip-oruby: #a4133cff;
  --pink-bright-maroon: #c9184aff;
  --pink-fiery-rose: #ff4d6dff;
  --pink-ultra-red: #ff758fff;
  --pink-salmon-pink: #ff8fa3ff;
  --pink-cherry-blossom-pink: #ffb3c1ff;
  --pink-pink: #ffccd5ff;
  --pink-lavender-blush: #fff0f3ff;

  /* SCSS Gradient */
  --pink-gradient-top: linear-gradient(
    0deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-right: linear-gradient(
    90deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-bottom: linear-gradient(
    180deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-left: linear-gradient(
    270deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-top-right: linear-gradient(
    45deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-bottom-right: linear-gradient(
    135deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-top-left: linear-gradient(
    225deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-bottom-left: linear-gradient(
    315deg,
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
  --pink-gradient-radial: radial-gradient(
    #590d22ff,
    #800f2fff,
    #a4133cff,
    #c9184aff,
    #ff4d6dff,
    #ff758fff,
    #ff8fa3ff,
    #ffb3c1ff,
    #ffccd5ff,
    #fff0f3ff
  );
}
