.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.d-flex {
  flex-direction: column;
  & button {
    display: block;
    width: 200px;

    margin-top: 15px;
    font-size: large;
    font-weight: bold;
  }
}

mat-form-field {
  width: 100%;
  margin-top: 35px;

  & input {
    font-size: large;
  }
}

#buttons {
  transform: translateY(350%);
}

#avatar {
  transform: translate(10%, 200%);
}

#social__links {
  position: absolute;
  bottom: 0;

  & button {
    margin-right: 10px;
  }
}
