<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    [mode]="isMobile() ? 'over' : 'side'"
    [(opened)]="isToggled"
  >
    <div *ngIf="links; then drawerButtons"></div>
  </mat-drawer>

  <app-toolbar (drawerToggler)="toggleDrawer(isToggled)"></app-toolbar>

  <div *ngIf="location === 'dashboard'; then dashboardSection"></div>
</mat-drawer-container>

<ng-template #drawerButtons>
  <div *ngFor="let link of links">
    <button
      pButton
      pRipple
      [label]="link.label"
      [pTooltip]="link.tooltip"
      [icon]="link.icon"
      iconPos="left"
      [routerLink]="link.route"
      class="p-button-rounded p-button-raised p-button-text btn-block"
      [style]="{
        'margin-top': '10px',
        color: 'var(--green-yellow-green-color-wheel)'
      }"
    ></button>
  </div>
</ng-template>

<ng-template #dashboardSection>
  <app-top-cards></app-top-cards>

  <app-sales-ratio></app-sales-ratio>

  <app-top-cards></app-top-cards>

  <app-sales-ratio></app-sales-ratio>
</ng-template>
