<!--
<div class="d-flex justify-content-between align-items-center mb-4">
  <p class="lead fw-normal mb-0">Publications récentes</p>
  <p class="mb-0"><a href="#!" class="text-muted">Voir plus</a></p>
</div>
<div class="row g-2">
  <div class="col mb-2">
    <img
      src="assets/img/agency-account/first.jpg"
      alt="image 1"
      class="w-100 rounded-3"
    />
  </div>
  <div class="col mb-2">
    <img
      src="assets/img/agency-account/second.jpg"
      alt="image 1"
      class="w-100 rounded-3"
    />
  </div>
</div>
<div class="row g-2">
  <div class="col">
    <img
      src="assets/img/agency-account/third.jpg"
      alt="image 1"
      class="w-100 h-100 rounded-3"
    />
  </div>
  <div class="col">
    <img
      src="assets/img/agency-account/fourth.jpg"
      alt="image 1"
      class="w-100 rounded-3"
    />
  </div>
</div>
-->
