/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

// defining a global font-family
* {
  font-family: "Amiri", "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// Importing AOS styles
@import "../node_modules/aos/dist/aos.css";

// Importing the colors palettes
@import "./app/scss/colors";

// Custom fonts
@import "./app/scss/fonts";
